.popup {
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 30px;
	left: 2px;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
