.element__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.element__heart-count {
  padding-top: 4px;
  color: black;
}